/* Basic */

html, button {
    font-family: 'Rubik', 'Arial', sans-serif;
}

* {
    box-sizing: border-box;
    
}

body {
    font-size: 16px;
    color: #3D372C;
}


/* Container */

.container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 50px 0;
}

/* Main page */

.main-page {
    height: 100vh;
    background: #E5E5E5;
    
}

.main-card {
    width: 100%;
    min-height: 400px;
    height: 100%;
    border-radius: 30px;
    background: #F3F3F3;
    padding: 20px 50px 40px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
}

.main-card-title {
    font-weight: 700;
    font-size: 48px;
}

.main-card-header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-secondary {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 18px;
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.15),
    -6px -6px 12px rgb(255, 255, 255);
    padding: 20px;
    position: relative;
    margin: 30px 0 0 0;
}

.create-title {
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}

.create-inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.between {
    justify-content: space-between;
}

.create-button {
    background: #646E78;
    border-radius: 9px;
    outline: none;
    border: 0;
    color: #fff;
    font-weight: 700;
    padding: 10px 25px;
    transition: all .2s ease-in-out;
}

.create-button:hover {
    background: #4a5158;
    transition: all .2s ease-in-out;
}

/* Inputs */

.create-input-wrapper {
    width: 200px;
    height: 40px;
    background: #000;
    border-radius: 9px;
    position: relative;
    margin-right: 40px;
}

.input {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1.5px solid #7E846B;
    border-radius: 9px;
    outline: none;
    padding-left: 13px;
}

.input.error-input {
    border-color: rgb(230, 67, 67);
}

.input-text {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    transition: all .3s ease-in-out;
    pointer-events: none;
    color: #7E846B;
    font-size: 14px;
    border-radius: 5px;
}

.input:focus+.input-text, .input:valid+.input-text {
    top: 0;
    color: #7E846B;
    transition: all .3s ease-in-out;
    padding: 3px;
    background: #fff;
    font-size: 16px;
}

/* DropDown */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #3D372C;
    font-size: 14px;
}

.select::after {
    content: '\25BC';
    font-size: 12px;
    pointer-events: none;
    position: absolute;
    right: 8px;
    z-index: 3;
    transform: translateY(25%);
}

.select {
    position: relative;
    border: 1.5px solid #7E846B;
    border-radius: 9px;
    padding: 10px 0 10px 0;
}

.filter {
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0);
    padding: 0 30px 0 20px;
}

.input-text-select {
    position: absolute;
    top: 0;
    left: 15px;
    transform: translateY(-50%);
    transition: all .3s ease-in-out;
    pointer-events: none;
    color: #7E846B;
    font-size: 14px;
    z-index: 2;
    padding: 3px;
    background: #fff;
    font-size: 16px;
}

option {
    color: #3D372C;
    font-size: 14px;
    width: 100%;
}

/* Card body */

.main-card-body {
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
    max-height: 280px;
    overflow-y: scroll;
    position: relative;
    padding: 0 1rem 0 1rem;
    scrollbar-width: 5px;
    padding-bottom: 20px;

}

.main-card-item a {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.15),
    -5px -5px 8px #fff;
    border-radius: 14px;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 8px;
    text-decoration: none;
    color: #3D372C;
}

.card-info {
    width: 100%;
    display: flex;
    align-items: center;
}

.card-id {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #7E846B;
    border-radius: 9px;
    font-weight: 500;
}

.card-first-name {
    max-width: 80px;
    width: 100%;
    margin: 0 0 0 35px;
}

.card-last-name {
    max-width: 120px;
    width: 100%;
}

.card-line {
    height: 35px;
    width: 1px;
    margin: 0 25px;
    border-radius: 50%;
    background: rgba(126, 132, 107, .8);
}

.card-button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.card-btn {
    border: 1.5px solid #646E78;
    outline: none;
    color: #646E78;
    background: none;
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 9px;
    font-size: 12px;
    margin-left: 15px;
    transition: all .2s ease-in-out;
}

.card-btn:hover {
    background: #646E78;
    color: #fff;
    transition: all .2s ease-in-out;
}

.card-btn:last-child {
    border: none;
    background: #da4a48;
    color: #fff;
    transition: all .2s ease-in-out;
}

.card-btn:last-child:hover {
    background: #c24341;
    color: #fff;
    transition: all .2s ease-in-out;
}

#contacts::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
    width: 10px;
}

#contacts::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#contacts::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #646E78;
    transition: all .2s ease-in-out;
}

#contacts::-webkit-scrollbar-thumb:hover {
    background: #4a5158;
    transition: all .2s ease-in-out;
}